// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #f7323f;
$brand-secondary:       #4c4c4c;

$register-button:       #f7323f;
$headerbk:              #1B1B1B;

$border-color:          #95989A;


//Navigation Variables
$gray-link:             #a5a5a5;
$light-link:            #f2f2f2;
